*{
	padding: 0px;
	margin: 0px;
}

nav{
	position: fixed;
	top: 0px;
	background: rgba(144,202,249, 0.925);
	box-shadow: 0px -3px 15px rgba(0,0,0,0.5);
	/*width: 1440px;*/
	width: 100%;
	height: 50px;
	z-index: 1;
	font-family: 'Roboto', sans-serif;
}

#LogoNav{
	padding: 5px;
	width: 170px;
	height: 40px;
	float: left;
}

#botones li{
	display: block;
	list-style: none;
	float: right;
	width: 110px;
	height: 20px;
	text-align: center;
	padding: 15px 0px;
}

#botones li a{
	text-decoration: none;
	font-size: 15px;
	color: white;
}

#botones li:hover{
	background: rgba(255,255,255,0.2);
}

#botones li a:hover{
	color: black;
}

#botones li a:visited{
	color: rgb(235,235,235);
}

#busqueda_modal{
	display: none;
}

#busqueda_modal:target{
	display: block;
	position: fixed;
	top: 58.1%;
	left: 1.3%;
	width: 240px;
	height: 40px;
	background: #263238;
	z-index: 1;
	border-radius: 5em;
	filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.4));
}

table{
	margin-top: 8px;
	margin-left: 10px;
}

#salir{
	margin-top: -20px;
	margin-right: 15px;
	float: right;
	color: white;
	text-decoration: none;
}

#salir a:visited{
	color: white;
	text-decoration: none;
}

.menud{
	position: fixed;
	top: 50%;
	left: 1%;
}

.menud li{
	width: 50px;
	text-align: center;
}

.menud ul{
	display: flex;
	list-style: none;
	position: relative;
	padding: 0px;
	margin: 0px;
}

.menud a{
	display: block;

}

.menud ul li ul{
	display: none;
}

.menud ul li a:hover + ul, .menud ul li ul:hover{
	display: block;
}

.menud a:hover{
	/*background: mediumslateblue;*/
}

#mas{
	width: 50px;
	height: 50px;
	filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.6));
}

img.redesBlock{
	width: 40px;
	height: 40px;
	filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.4));
}

#subir{
	position: absolute;
	right: 1%;
	top: 787px;
	width: 50px;
	height: 50px;
	filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.6));
}

#subir img{
	width: 50px;
	height: 50px;
}

#arriba{
	position: absolute;
	top: 0px;
}

#contenedor{
	width: 100%;
	height: 1600px;
	background: black;
	margin: 0px auto;
	/*filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.5));*/
}

header{
	width: 100%;
	height: 700px;
}

#header1{
	background-image: url(../img/fondo1.jpg);
	background-size: 100%;
	background-attachment: fixed;
}

#header2{
	background-image: url(../img/fondo2.jpg);
	background-size: 100%;
	background-attachment: fixed;
}

#TituloHeader{
	width: 100%;
	height: 120px;
	margin-top: 50px;
	padding-top: 208px;
	float: left;
	text-align: center;
	font-size: 110px;
	color: white;
	filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.5));
}

#MiniTituloHeader{
	width: 100%;
	height: 372px;
	float: left;
	text-align: center;
	font-size: 25px;
	color: white;
	box-shadow: 0px 10px 15px rgba(0,0,0,0.2);
}

#caja1{
	width: 100%;
	height: 800px;
	background-image: url(../img/teatro.jpg);
	background-size: 100%;
	background-attachment: fixed;
	padding-top: 50px;
}

#caja2{
	width: 1200px;
	height: 750px;
	margin: auto;
	box-shadow: 0px 10px 15px rgba(0,0,0,0.2);
}

#tituloman{
	width: 975px;
	height: 75px;
	font-weight: bold;
	font-size: 40px;
	padding-top: 25px;
	padding-left: 25px;
	background: rgba(200,200,200,0.5);
	float: left;
}

#sociales{
	width: 200px;
	height: 100px;
	background: rgba(200,200,200,0.5);
	float: left;
}

.imgsociales{
	width: 75px;
	height: 75px;
	float: left;
	margin: 12.5px 12.5px;
}

#fotoperfil1{
	width: 1200px;
	height: 200px;
	background-image: url(../img/man1.jpg);
	background-size: 100%;
	background-position: center;
	float: left;
}

#fotoperfil2{
	width: 1200px;
	height: 200px;
	background-image: url(../img/man2.jpg);
	background-size: 100%;
	float: left;
}

#contenido{
	width: 1040px;
	height: 410px;
	background: rgba(200,200,200,0.8);
	float: left;
	font-size: 25px;
	padding: 20px 80px;
}

#separador{
	width: 100%;
	height: 50px;
	background: grey;
	box-shadow: 0px 10px 15px rgba(0,0,0,0.2) inset;
}

footer{
	width: 100%;
	height: 200px;
	background: rgb(50,50,50);
	box-shadow: 0px 10px 15px rgba(0,0,0,0.2) inset;
	font-family: 'Roboto', sans-serif;
}

.futer{
	width: 30%;
	height: 150px;
	float: left;
	text-align: center;
	color: white;
	font-size: 15px;
	padding-top: 50px;
}

.futer a:visited{
	color: grey;
}

.futer a{
	color: white;
}

.futer a:hover{
	color: #90afff;
}

aside{
	width: 40%;
	height: 200px;
	float: right;
}

#asideimg{
	width: 500px;
	height: 200px;
	margin: auto;
	box-shadow: 0px 10px 15px rgba(0,0,0,0.2) inset;
}

#asideimg img{
	width: 100%;
	height: 100%;
}